body {
  background-color: #333;
  margin: 0;
  overflow: hidden;
  font-family: arial;
  color: #fff;
}

#mainContainer {
  width: 100vw;
  height: 100vh;
}

#distLinkContainer {
  padding: 10px;
  background-color: #444;
  width: fit-content;
  font-size: 150%;
  height: fit-content;
  border-radius: 10px;
  margin: 10px;
}

#distLinkContainer a {
  color: #34bfff
}

#distLinkContainer p {
  line-height: 0%;
}

ul {
  list-style-type: square;
  padding-left: 25px;
  margin-bottom: 0px;
}

ul li a {
  color: #34bfff
}