body {
  background-color: #333;
  margin: 0;
  overflow: hidden;
  font-family: arial;
  color: #fff;
}

#mainContainer {
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.linkContainer {
  padding: 10px;
  background-color: #444;
  font-size: 150%;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}

a {
  color: #34bfff
}