body {
  background-color: #333;
  margin: 0;
  overflow: hidden;
  font-family: arial;
  color: #fff;
  font-size: 120%;
}

#left {
  float: left;
  width: 50%;
  height: 100vh;
}

#right {
  float: right;
  width: 50%;
  height: 100vh;
}

.container {
  background-color: #444;
}

.coolButton {
  background-color: #f00;
  border-radius: 10px;
  padding: 5px;
  user-select: none;
  border: outset #a00 3px;
  float: left;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
}

#distInfoContainer {
  padding: 5px;
  overflow-x: hidden;
}

#calcOutput {
  border-radius: 10px;
  padding: 5px;
  background-color: #555;
  border: solid #333 3px;
  float: left;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 110%;
}

#calcInfoContainer {
  overflow-x: hidden;
}

#linkContainer {
  display: flex;
  flex-direction: row;
  color: #34bfff;
}

#linkContainer div {
  vertical-align: center;
  height: fit-content;
  padding: 5px;
}

#linkContainer div a,
ul li a {
  color: #34bfff
}

ul {
  margin-top: 0px;
  list-style-type: square;
  padding-left: 25px;
  margin-bottom: 0px;
}

input[type='text'] {
  background-color: #555;
  border: solid #222 1px;
  color: #fff;
  width: fit-content;
  padding: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}